@font-face {
  font-family: 'NetflixFont';
  src: url('fonts/NetflixFont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* Use a fonte definida */
body {
  font-family: 'NetflixFont', sans-serif;
}


html, body{
    margin: 0;
    padding: 0;
}

body {
 background-image: linear-gradient(rgba(0, 0, 0, 0.445), rgba(0, 0, 0, 0.445)), url('../img/netflix.jpg');
 margin: 0;
 overflow: hidden;
 height: 100vh;
}

header {
 width: 100%;
 padding: 10px;
 font-family: Arial;
 font-size: 30px;
}

.logo{
  fill: rgb(223, 0, 11);
  width: 8%;
  padding-top: 15px;
  padding-left: 350px;
}

.container-center{
  height: 79vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container{
  height: 93,5%;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.800);
  padding: 70px;
  padding-top: 50px;
  padding-left: 60px;
  border-radius: 5px;
}

.texto-entrar{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.input{
  background-color: rgba(128, 128, 128, 0.096);
  border: solid 1px rgba(255, 255, 255, 0.678);
  border-radius: 3px;
  padding-left: 15px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  color: white;
}


::-webkit-input-placeholder {
  color: white;
}

.container-button{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.ou{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.button1{
  background-color:rgb(255, 13, 13);
  border: none;
  border-radius: 3px;
  color: white;
  margin-top: 20px;
  height: 43px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 340px;
}

.button2{
  background-color:rgba(182, 182, 182, 0.301);
  border: none;
  border-radius: 3px;
  color: white;
  height: 43px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 340px;
}

.footer{
  align-items: center;
}

.textocheck{
  color: white;
  font-size: 18px;
}
 .texto{
  margin-left: 40px;
  margin-top: -24px;
 }

.tamanho{
  height: 20px;
  width: 20px;
}

.novo{
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}

.insc{
  color: white;
}

.ultimotexto{
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.saber{
  color: #0071eb;
}

.cadastro-button1{
    background-color:rgb(255, 13, 13);
    border: none;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
    height: 43px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    width: 230px;
    margin-left: 115px;
    margin-top: 40px;
}

.dadoscartao{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.vencimento{
  margin-right: -22px;
  margin-left: 25px;
}


.cadastro-form-container{
  height: 650px;
  width: 320px;
  background-color: rgba(0, 0, 0, 0.800);
  padding: 70px;
  padding-top: 50px;
  padding-left: 60px;
  border-radius: 5px;
}

.cadastro-button2{
  background-color:rgba(182, 182, 182, 0.301);
  border: none;
  border-radius: 3px;
  color: white;
  height: 43px;
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  width: 230px;
  margin-left: 115px;
  margin-top: 27px;
}
