doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/paginaHistorias.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header(class="header")
      nav(class="navBar")
        div(class="boxTituloLogo")
          img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
          h1(class="h1-home") Dawn Draft
        
        button(class="btn-inicio") 
          a(href=`/Usuarios/${id_Usuario}/`) Início

    section 
      form(action=`/Usuarios/:${id_Usuario}/NovaHistoria/`, method="post")
        div(class="divInpt")
          label(for="") Titulo&nbspda&nbsphistoria 
          input(type="text", name="titulo", placeholder="Titulo Da Histora", maxlength="75")

        div(class="divResumoPersonagem")
          label(for="") Prologo&nbspda&nbsphistoria
          textarea(name="prologo" placeholder="Prologo Da Histria", maxlength="400")
          script(src="/javascripts/historias.js")

        div
          button(type="submit") salvar
          
 
    footer(class="footer")
      p &copy; 2024 DawnDraft. Todos os direitos reservados.
      a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
      a(href="/contato.html" style="color: white; text-decoration: none;") Contato
        