doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/cenarios.css')
        link(rel='stylesheet', href='/stylesheets/navbar.css')
        link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
        title Crie um novo cenario

    body
        header(class="header")
            div(class="boxTituloLogo")
                img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
                h1(class="h1-home", translate="no") Dawn&nbspDraft

            nav
                a(href=`/Usuarios/${UsuarioID}/`)
                    img(src="/images/casa.png", alt="Home", class="hoverScale")

        section
            form(action="", method="post")
                h2 Crie um novo cenario

                div(class="divInpt")
                    label(for="") Nome Do Cenario
                    input(type="text", name="nome", maxlength="75", required)

                div(class="divInpt")
                    label(for="") Ambientação
                    input(type="text", name="ambientacao", maxlength="100")

                //- div(class="containerInputRadio")
                //-     label(for="") o cenario é real ou ficticio?
                //-     div(class="boxInputRadio")
                //-         label Real
                //-         input(type="radio", name="realOuFicticio", value="Real", id="real")
                    
                //-     div(class="boxInputRadio")
                //-         label Ficticio
                //-         input(type="radio", name="realOuFicticio", value="Ficticio", id="ficiticio")

                div(class="divInpt")
                    label(for="") Existem conflitos nesse canario?
                    input(type="text", name="conflitos", maxlength="100")

                div(class="divInpt")
                    label(for="") Qual a geografia do cenario?
                    input(type="text", name="geografia", maxlength="75")

                div(class="divResumoPersonagem")
                    label(for="") Crie as regras para esse cenario:
                    textarea(name="regras")

                div(class="divResumoPersonagem")
                    label(for="") Insira aqui informações que você acha importante
                    textarea(name="informacoesInportantes")

                div(class="divResumoPersonagem")
                    label Faça um resumo sobre o cenario
                    textarea(name="resumoDoCenario")

                button(type="submit") Criar Cenario

        footer(class="footer")
            p &copy; 2024 DawnDraft. Todos os direitos reservados.
            a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
            a(href="/FaleConosco" style="color: white; text-decoration: none;") Contato
