doctype html
html(lang="pt-br")
  head
    title Atuallizar Foco Do Capitulo
    link(rel='stylesheet', href='/stylesheets/paginaCapitulos.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h1 
        a(href=`/Usuarios/:${focoDoCapitulo.Usuario.toString()}/historia/:${focoDoCapitulo.Historia.toString()}/capitulo/:${focoDoCapitulo.Capitulo.toString()}`) Voltar

    form(action="", method="post") 
        table 
            thead 
                tr
                    th Foco Do Cápitulo
            tbody 
                tr 
                    td 
                        input(type="text", name="focoCapitulo", value=`${focoDoCapitulo.FocoCapitulo}`)

                tr
                    td
                        button(type="submit") Salvar