doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/paginaCapitulos.css')
  body
    h1 
        a(href=`http://localhost:3000/Usuarios/:${id_Usuario}/`) Home

    h2 Pagina Para Atualizar uma Anotação!!! 

    form(action="", method="post") 
        table 
            thead 
                tr
                    th Foco Do Cápitulo
                    th Humor/tom

            tbody 
                tr 
                    td 
                        input(type="text", name="focoCapitulo", value=`${anotacao.FocoCapitulo}`)
                    
                    td 
                        input(type="text", name="humorCapitulo", value=`${anotacao.HumorTom}`)

                tr
                    td(colspan="4")
                        button(type="submit") Salvar