doctype html
html(lang="pt-br")
  head
    title Atuallizar Humor Do Capitulo
    link(rel='stylesheet', href='/stylesheets/paginaCapitulos.css')
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    h1 
        a(href=`/Usuarios/:${humorCapitulo.Usuario.toString()}/historia/:${humorCapitulo.Historia.toString()}/capitulo/:${humorCapitulo.Capitulo.toString()}`) Voltar

    form(action="", method="post") 
        table 
            thead 
                tr
                    th Humor Do Cápitulo
            tbody 
                tr 
                    td 
                        input(type="text", name="humor", value=`${humorCapitulo.Humor}`)

                tr
                    td
                        button(type="submit") Salvar