doctype html
html(lang="pt-br")
  head
    title Aviso!
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    link(rel='stylesheet', href='/stylesheets/avisos.css')
    link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
    link(rel="stylesheet", href="/stylesheets/scrollBar.css")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    header(class="semNav")
      div(class="boxTituloLogo")
        img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
        h1(class="h1-home", translate="no") Dawn&nbspDraft
       

    if link.length
      section
        h1= aviso 
        h2 
          a(href=`${link}`)= txtLink
