doctype html
html(lang="pt-br")
  head
    link(rel='stylesheet', href='/stylesheets/+esqueciMinhaSenha.css')
    title Esqueci Minha Senha
  body
    header 
        h1 Esqueci Minha senha 
        h2 Preencha o campo com seu email para que possamos enviar um email com um link para que possa redefinir a sua senha!!!

    section
        form(action="", method="post")
            input(type="email", name="email")
            button(type="submit") Enviar
            
        