doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet', href='/stylesheets/navbar.css')
        link(rel='stylesheet', href='/stylesheets/FaleConosco.css')
        link(rel='stylesheet', href='/stylesheets/footer.css')
        link(rel="stylesheet", href="/stylesheets/scrollBar.css")
        link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
        title Contato
    body 

        header(class="header")
            div(class="boxTituloLogo")
                img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
                h1(class="h1-home") Dawn Draft
        
            nav(class="navBar1item")
                a(href="/")
                    img(src="/images/de-volta.png", alt="") 

        section
            form(action="", method="post")
                div(class="divInpt borderRadius5ptCima")
                    label(for="") Titulo da mensagem 
                    input(type="text", name="assunto", maxlength="50", required, placeholder="Informe o assunto da mensagem!")

                div(class="divInpt borderRadius5ptBaixo")
                    label(for="") Email
                    input(type="text", name="email", maxlength="100", required, placeholder="Informe seu email!")

                div(class="divResumoPersonagem")
                    label(for="") Mensagem
                    textarea(name="mensagem",  maxlength="350", required, placeholder="Escreva a sua mensagem!")

                div 
                    button(type="submit") Enviar

        footer(class="footer")
            p &copy; 2024 DawnDraft. Todos os direitos reservados.
            a(href="/politicaPrivacidade.html" style="color: white; text-decoration: none;") Política de Privacidade
