doctype html
html(lang="pt-br")
  head
    title home
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1 Pagina onde vai carregar uma historia em especifico

      form(action=`http://localhost:3000/Usuarios/:${historia.Usuario}/historia/:${historia._id.toString()}`, method="post") 

        input(type="text", name="titulo", value=`${historia.Titulo}`)

        textarea(name="texto")= historia.Texto

        button(type="submit") salvar