doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet")

  body

    header(class="header")
      nav(class="navBar")
          div(class="boxTituloLogo")
              img(class="logo-nav" src="../images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
              h1(class="h1-home") Dawn Draft
          
          a(href="/LoginECadastro" class="linkLogin") Entrar

    section(class="section1")
      div(class="boxsIntro")
        h2 ORGANIZE SUAS HISTÓRIAS DE FORMA SIMPLES E EFICAZ
        pO DawnDraft é a ferramenta ideal para escritores que querem levar suas criações ao próximo nível. Organize personagens, cenários e tramas em um só lugar, de forma intuitiva e prática. Perfeito para quem busca transformar ideias em histórias bem estruturadas, seja para livros, roteiros ou contos. Crie seu universo literário com facilidade. 
  
      div
        img(class="img-home" src="../images/escrever-um-livro-neste-ano-scaled.jpg")
    