doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap" rel="stylesheet")

  body

    header
      h1 Dawn Draft

      nav(class="navBar")
        a(href="http://localhost:3000/LoginECadastro", class="linkLogin") Cadastre-se / Login

    
    section 
      div(class="boxsIntro") 
        h2 ORGANIZE SUAS HISTÓRIAS DE FORMA SIMPLES E EFICAZ
        p O DawnDraft é a ferramenta ideal para escritores que querem levar suas criações ao próximo nível. Organize personagens, cenários e tramas em um só lugar, de forma intuitiva e prática. Perfeito para quem busca transformar ideias em histórias bem estruturadas, seja para livros, roteiros ou contos. Crie seu universo literário com facilidade.
