extends layout

block content
  h1 Nessa tela ficara a pagina principal do site
  h2 Com as informações sobre o projeto
  h3 Exemplo

  ul 
    li Sobre nós 
    li Fale Conosco 
    li Etc...

  a(href="http://localhost:3000/LoginECadastro") Login
