doctype html
html(lang="pt-br")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
  body
    block content
