doctype html
html(lang="pt-br")
    head
        title Login
        link(rel="website icon" href="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
        link(rel="stylesheet" href="/stylesheets/style.css")
        link(rel="stylesheet" href="/stylesheets/style-login-cadastro.css")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

    body

        header(class="header")
            div(class="boxTituloLogo")
                img( class="logo-nav" src="/images/63b55e87-83ca-4b1e-afe9-c0e899910615.jpg")
                h1(class="h1-home") Dawn&nbspDraft

            nav(class="navBar")
                button(class="btn-sobre") Sobre&nbspnós
                button(class="btn-sobre") Contato
                a(href="/" class="linkLogin") Inicio

            img(src="/images/botao-de-menu.png", alt="Menu", class="btnDropDown")

            script(src="/javascripts/indexPage.js")

        if notify.length
            h1=notify
        div(class="container")
            div(class="content first-content")
                div(class="first-column")
                    h2(class="title title-primary") Não Possui Uma Conta?
                    button(id="signin" class="btn btn-primary") Cadastre-se 

                div(class="second-column")

                    h2(class="title title-second") Entrar

                    div(class="social-media") <!-- social media -->

                        //- ul(class="list-social-media")                                                   
                        //-     a(class="link-social-media" href="#")
                        //-         li(class="item-social-media")
                        //-             i(class="fab fa-google-plus-g")

                        //- p(class="description description-second") ou use seu e-mail:

                        form(class="form", method="post", action="/LoginECadastro/Login")
                            label(class="label-input" for="")
                                i(class="fas fa-envelope icon-modify")
                                input(type="email", placeholder="email", name="login_email", required)

                            label(class="label-input" for="")
                                i(class="fas fa-lock icon-modify")
                                input(type="password", placeholder="senha", name="login_senha", required)

                            a(class="password" href="/LoginECadastro/esqueciMinhaSenha") esqueceu sua senha?                   
                            button(class="btn btn-second" type="submit") Entrar


            div(class="content second-content")
                div(class="first-column")
                    h2(class="title title-primary") Ja possui uma conta?
                    button(id="signup" class="btn btn-primary") Entrar

                div(class="second-column")
                    h2(class="title title-second") Cadastre-se
                    div(class="social-media")
                        //- ul(class="list-social-media")
                        //-     a(class="link-social-media" href="#")
                        //-         li(class="item-social-media")
                        //-             i(class="fab fa-google-plus-g")

                        //- p(class="description description-second") ou use sua conta de email para cadastro:

                        form(class="form", method="post", action="/LoginECadastro/Cadastro")
                            label(class="label-input" for="")
                                i(class="fas fa-user icon-modify")
                                input(type="text" placeholder="nome" name="nome", required)

                            label(class="label-input" for="")
                                i(class="fas fa-envelope icon-modify")
                                input(type="email" placeholder="email" name="email", required)

                            label(class="label-input" for="")
                                i(class="fas fa-lock icon-modify")
                                input(type="password" placeholder="senha" name="senha", required)

                            label(class="label-input" for="")
                                i(class="fas fa-lock icon-modify")
                                input(type="password" placeholder="Confirmar senha" name="confirmarSenha", required)

                            button(class="btn btn-second" type="submit") cadastrar-se


        script(src="/javascripts/js-login-cadastro.js")
