doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/stylesheets/scrollBar.css")
        title Mensagem
    body

        header 

        section
            div 
                p Assunto: 
                p= mensagem.Assunto 

            div 
                p Email de resposta 
                p= mensagem.EmailDeResposta 

            div 
                p Mensagem 
                p= mensagem.Mensagem 

