doctype html
html(lang="pt-br")
  head
    title Redefinição de senha
    link(rel='stylesheet', href='/stylesheets/recuperarSenha.css')
    link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body

    header 
      h1 Redefinição de senha

    section
      h2 Crie Uma Nova Senha

      form(action="", method="post")
        input(type="password", name="senha", placeholder="Crie sua nova senha", required)
        button(type="submit") Redefinir Senha
