doctype html
html(lang="pt-br")
  head
    title Redefinição de senha
    link(rel='stylesheet', href='/stylesheets/recuperarSenha.css')
  body

    header 
        h1 Redefinição de senha

    section
        h2 Crie Uma Nova Senha

        form(action="", method="post")
            input(type="password", name="senha", placeholder="Crie sua nova senha")
            button(type="submit") Redefinir Senha
