doctype html
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Usuarios
    body 

        header 

        section 
            if usuarios.length
                for usuario in usuarios 
                    h2 
                        a(href=`/Administrador/:${admin}/usuario/:${usuario._id.toString()}`)= usuario.Nome 
            else 
                p Não existe usuarios cadastrados no sistema! 
