doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      h1 Pagina index dos usuario onde vai carregar todas as histórias criadas por eles
      h2=idUSuario