doctype html
html(lang="pt-br")
    head
        title Validar Email
        link(rel='stylesheet', href='/stylesheets/paginaValidacaoEmail.css')

    body 
        form(action="", method="post")
            input(type="number", name="codigoVerificacao", maxlength="6")
            button(type="submit") 