doctype html
html(lang="pt-br")
    head
        title Validar Email
        link(rel='stylesheet', href='/stylesheets/paginaValidacaoEmail.css')
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body 
        form(action="", method="post")
            input(type="number", name="codigoVerificacao", maxlength="6")
            button(type="submit") Verificar