doctype html
html(lang="pt-br")
    head
        title Validar Email
        link(rel='stylesheet', href='/stylesheets/paginaValidacaoEmail.css')
        link(rel="website icon", href="/images/3c323745-b83e-4589-b0a6-a5b15a0aa3c4.jpg")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body 
        header
            h1 Verificação de email 
        section
            form(action="", method="post")
                input(type="number", name="codigo", maxlength="6", required)
                button(type="submit") Verificar
