.spanDeletarHis{
    background-color: red;
    color: white;
    padding: 8pt;
    border-radius: 10pt;
    width: 100%;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 2pt 2pt black;
    transition: 0.1s;
}

.divExcluirPersonagem{
    padding: 0.9%;
    min-width: 40vw;
    width: auto;
    min-height: 10vw;
  
    display: none;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color:  #fcfbee;
    color: black;
    position: absolute;
    border-radius: 10pt;
    text-align: left;
    font-size: 16pt;

    top: 50% ;
    left: 50%;
    transform: translate(-50%, -50%);
}

.botoesDivExcluirPersonagem{
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 10pt;
    gap: 5pt;
}

#btnCancelar{
    padding: 5pt;
    background-color: yellowgreen;
    border-radius: 5pt;
    border: 1px solid yellowgreen;
    cursor: pointer;
    font-size: 12pt;
}

.excluir{
    background-color: red;
    color: white;
    font-size: 12pt;
    padding: 5pt;
    border-radius: 5pt;
}

.spanDeletarHis:hover{
    box-shadow: 4pt 4pt black;
}

@media (max-width: 867px) {
    .divExcluirPersonagem{
        min-width: 80vw;
    }
}

@media (min-width: 535px) {
    .divExcluirPersonagem{
        text-align: center;
    }
}