/* html, body{
    height: 100vw;
} */

.footer{
    background-color: #292727da; 
    color: white; 
    text-align: center;
    text-wrap: wrap; 
    padding: 20px; 
    justify-self: end;
    width: 100%; 
    position: absolute;
    bottom: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-height: 840px) and (min-width: 317px){
    .footer{
        position: relative;
    }
}

@media (max-height: 840px) and (max-width: 1490px) {
    .footer{
        position: relative;
    }
}
