header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
    margin: 0%;
    padding: 10pt;
    align-items: center;
    border-bottom: 2px solid rebeccapurple;
}

.boxTituloLogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-inicio{
    width: 15%;
    height: 35px;
    background: transparent; 
    border: none; 
    cursor: pointer;
}

a{
    color:black;
    text-decoration: none;
}

.logo-nav{
    width: 50pt;
    height: auto;
    border-radius: 50%;
}
  
.navBar{
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10pt;
}
  
.boxTituloLogo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7.5pt;
    width: 50%;
}
  
.btn-sobre{
    width: auto;
    height: auto;
    background: transparent; 
    border: none; 
    color: #000; 
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
}
  
  .btn-sobre:hover{
    color: white;
}

.btn-inicio{
    width: 30%;
    min-width: 30%;
    height: auto;
    background: transparent; 
    border: none; 
    color: #000; 
    cursor: pointer;
    font-size: 17.5pt;
    font-weight: bold;
}

.btn-inicio:hover{
    color: white;
}

.navBar1item{
    min-width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10pt;
}
