header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
    margin: 0%;
    padding: 10pt;
    align-items: center;
    border-bottom: 2px solid rebeccapurple;
}

.semNav{
    justify-content: center;
}

.semNav .boxTituloLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h1{
    text-wrap: nowrap;
}

.boxTituloLogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-inicio{
    width: 15%;
    height: 35px;
    background: transparent; 
    border: none; 
    cursor: pointer;
}

a{
    color:black;
    text-decoration: none;
}

.logo-nav{
    width: 50pt;
    height: auto;
    border-radius: 50%;
}
  
.navBar{
    min-width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20pt;
}
  
.boxTituloLogo{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 7.5pt;
    width: 50%;
}
  
.btn-sobre{
    width: auto;
    height: auto; 
    border: none; 
    color: whitesmoke; 
    cursor: pointer;
    font-size: 15pt;
    font-weight: bold;
    text-decoration: none;
    padding: 5pt;
    background-color: rgba(93, 89, 89, 0.644);
    border-radius: 5pt;
    transition: 0.2s;
}
  
.btn-sobre:hover{
    color: white;
    transform: scale(1.1);
}

.btn-inicio{
    width: 30%;
    min-width: 30%;
    height: auto;
    background: transparent; 
    border: none; 
    color: #000; 
    cursor: pointer;
    font-size: 17.5pt;
    font-weight: bold;
}

.btn-inicio:hover{
    color: white;
}

.navBar1item{
    min-width: 25%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10pt;
}

.linkLogin{
    padding: 5pt;
    background-color: rgba(93, 89, 89, 0.644);
    border-radius: 5px;
    text-decoration: none;
    width: auto;
    font-size: 15pt;
    height: min-content;
    font-weight: bold;
    color: white
  }

.hoverScale{
    transition: 0.2s;
}

.hoverScale:hover{
    transform: scale(1.2);
}

.btnDropDown{
    display: none;
    padding: 10pt;
}

@media (max-width: 1024px) {
    .navBar{
      display: none;
      align-items: center;
      justify-content: center;
      margin-top: 10pt;
    }
  
    /* <a href="https://www.flaticon.com/br/icones-gratis/cardapio" title="cardápio ícones">Cardápio ícones criados por Catalin Fertu - Flaticon</a> */
    .btnDropDown{
      display: block;
    }
  
    .linkLogin{
      width: 180px;
    }
}
