.containerNotify{
    padding-left: 5pt;
    position: sticky;
    bottom: 35pt;
    left: 15pt;
    color: white;
    width: 20%;
}

.sucesso{
    background-color: green;
}

.erro{
    background-color: red;
}

.boxNotify{
    font-size: 12pt;
    width: 100%;
    background-color: grey;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5pt;
}

.notificacao{
    padding: 2pt;
    width: 60%;
    background-color: red;
    border-radius: 5pt;
    position: absolute;
    top: 90pt;
    left: 50%;
    transform: translate(-50%, -30%);
}

.notificacao h1{
    background-color: white;
    padding: 5pt;
    border-radius: 2.5pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes esmaecerNotify {
    0%{
      opacity: 1;
    }

    10%{
        opacity: 0.90;
        left: 10%;
    }

    20%{
        opacity: 0.80;
        left: 20%;
    }

    30%{
        opacity: 0.70;
        left: 30%;
    }

    40%{
        opacity: 0.60;
        left: 40%;
    }

    50%{
        opacity: 0.50;
        left: 50%;
    }

    60%{
        opacity: 0.40;
        left: 60%;
    }

    70%{
        opacity: 0.30;
        left: 70%;
    }

    80%{
        opacity: 0.20;
        left: 80%;
    }

    90%{
        opacity: 0.10;
        left: 90%;
    }

    100%{
      opacity: 1;
      left: calc(100% - 15pt);

      .boxNotify{
        display: none;
      }
    }
}