*{
  margin : 0px;
  padding : 0px;
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font: 12.5pt "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfbee;
  font-family: "Sora", sans-serif;
}

.footer{
  background-color: #292727da; 
  color: white; 
  text-align: center; 
  padding: 20px; 
  position: relative; 
  bottom: 0; 
  width: 100%;
  /* position: absolute;
  bottom: 0; */
}

section{
  padding-top: 1.9%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10pt;
}

input:focus{
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
  border-bottom: 1px solid black;
}

input{
  border: none;
  width: 100%;
  padding: 5pt;
  /* margin-bottom: 5pt; */
  font-size: 12.5pt;
  background-color: #F2F0EB;
  border-radius: 0pt 5pt 5pt 0pt;
}

select[name="personagem"]{
  width: 90%;
  border-radius: 5pt;
  box-shadow: 3.5px 4px grey;
  border: 1px solid #F2F0EB;
  background-color: #F2F0EB;
  margin-bottom: 10pt;
}

.borderRadius5ptCima{
  border-radius: 10pt 10pt 0pt 0pt;;
}

.borderRadius5ptBaixo{
  border-radius: 0pt 0pt 10pt 10pt;;
}

select:focus{
  box-shadow: 2px 2px 2px 2px white;
  border: 1px solid #F2F0EB;
  outline: 0;
}

.btnSubmit[type="submit"]{
  width: 90%;
}

label{
  padding: 5pt;
  /* margin-bottom: 5pt; */
  background-color: #F2F0EB;
  width: auto;
  text-wrap: nowrap;
  border-radius: 5pt 0pt 0pt 5pt;
}

div{
  display: flex;
  align-items: center;
}

.divInpt{
  background-color: #BFBEBA;
  padding: 10pt;
}

h2{
  margin-bottom: 3pt;
}

button[type="submit"]{
  width: 100%;
  padding: 5pt;
  border-radius: 5pt;
  border: none;
  cursor: pointer;
  margin-top: 5pt;
  background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
  font-size: 14pt;
  color: black;
  border: 1.8px solid rebeccapurple;
  box-shadow: 1px 1px 1px 1px rebeccapurple;
  transition: 20ms;
}

button:hover{
  border: 1.8px solid rebeccapurple;
  box-shadow: 6px 5px rebeccapurple;
  outline: 0;
}

.divResumoPersonagem{
  flex-direction: column;
  width: 100%;
  background-color: #BFBEBA;
  height: 55%;
  margin-top: 8pt;
  margin-bottom: 5pt;
  padding: 8pt;
  border-radius: 10pt;
}

.divResumoPersonagem label{
  width: 100%;
  text-align: center;
  text-wrap: nowrap;
}

textarea{
  width: 100%;
  height: max-content;
  font-size: 12.5pt;
  padding: 5pt;
  height: 55%;
  border: none;
  background-color: #F2F0EB;
  border-radius: 0pt 0pt 5pt 5pt;
  overflow: hidden;
}

.divResumoPersonagem label{
  background-color: #F2F0EB;
  padding: 5pt;
  border-radius: 5pt 5pt 0pt 0pt;
  text-wrap: nowrap;
}

textarea:focus{
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}

.marginTop15pt{
  margin-top: 15pt;
}

.linkCriarPersonagem{
  text-decoration: underline;
}

/* Personagens e Cenarios */

.sectionPersnagensECenarios{
  background-color: #BFBEBA;
  margin-top: 1.9%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
  border-radius: 10pt;
}

.boxPersonagensECapitulos{
  display: flex;
  flex-direction: column;
}

.paragrafoLinksPersonagensECapitulos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.linkPersonagensECapitulos{
  width: 90%;
  background-color: #F2F0EB;
  padding: 5pt;
  border-radius: 5pt;
}

.linkDeletarPersonagemECapitulo{
  background-color: #F2F0EB;
  padding: 5pt;
  width: auto;
  background-color: red;
  border-radius: 10pt;
  color: white;
}

.tituloPersonagensECenarios{
  margin-bottom: 12pt;
}

.pAviso{
  margin-bottom: 10pt;
  font-size: 18pt;
}

.h2BoxCapitulos{
  padding: 10pt;
  background-color: #F2F0EB;
  border-radius: 10pt;
  transition: 0.5s;
  margin-top: 5pt;
  box-shadow: 4px 3px 4px 0px grey;
}

.h2BoxCapitulos:hover{
  background-color: green;
}

/* <a href="https://www.flaticon.com/br/icones-gratis/casa" title="casa ícones">Casa ícones criados por Dave Gandy - Flaticon</a> */


/* Tabela */

/* Config Da Tabela */
table{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
}

th, td {
  border: 1px solid black;
}

th{
  padding: 10px;  
}


/* Coisas Dentro da Tabela */

/* Inputs */
table input {
  padding: 10px;
  margin-top: 0;
}

table button {
  border: none;
  padding: 10px;
}

.iptnTable{
  border: none
}

select{
  width: 100%;
  padding: 5pt;
  text-align: center;
}
  
.iptnTable:focus{
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
  
/* Parte do conteudo Ja Existente na tabela  */
table p{
  background-color: transparent;
  padding: 10px;
}

.spansAttExcluir{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 28%;
  background-color: transparent;
}

.tdConteudoTabela{
  display: flex;
  justify-content: space-between;
  background-color: white;
}
