*{ /* Reset css */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { /* Confidurações do body */
  padding-top: 50px;
  padding-left: 350px;
  padding-right: 350px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #EFEEA5;

  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

header{ /* Configurações do header */
  display: flex;
  justify-content: space-between;
}

section{ /* Configurações do section */
  margin-top: 150px;
  font-size: 16pt;
}

/* Uma Bagunça Desgeneralizada */
input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
  margin-top: 10px;
}

button{
  width: 100%;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
  transition: 100ms;
}
 
button:hover{
  background-color: green;
  color: white
}

.formAnotacoes{
  margin-top: 2%;
  margin-bottom: 2%;
}

textarea[name="texto"], textarea[name="textoCapitulo"]{
  width: 100%;
  height: 30vw;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
}
  
textarea[name="prologo"]{
  width: 100%;
  height: 8vw;
  padding: 15px;
  margin-top: 10px;
  border-radius: 10px;
  color: black;
  font-size: 18px;
}

a {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Tabela */

/* Config Da Tabela */
table{
  border-collapse: collapse;
  border: 1px solid black;
  padding: 5px;
  margin: 0 auto;
  width: 100%;
}

th, td {
  border: 1px solid black;
}

th{
  padding: 10px;  
}


/* Coisas Dentro da Tabela */

/* Inputs */
table input {
  padding: 10px;
  margin-top: 0;
}

table button {
  border: none;
  padding: 10px;
}

.iptnTable{
  border: none
}

select{
  width: 100%;
  padding: 5pt;
  text-align: center;
}
  
.iptnTable:focus{
  border: none;
  box-shadow: 0 0 0 0;
  outline: 0;
}
  
/* Parte do conteudo Ja Existente na tabela  */
table p{
  background-color: transparent;
  padding: 10px;
}

.spansAttExcluir{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 28%;
  background-color: transparent;
}

.tdConteudoTabela{
  display: flex;
  justify-content: space-between;
  background-color: white;
}
