*{
    margin : 0px;
    padding : 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    margin: 0;
    font: 12.5pt "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #fcfbee;
    font-family: "Sora", sans-serif;
}

.footer{
    background-color: #292727da; 
    color: white; 
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%;
    /* position: absolute;
    bottom: 0; */
}

section{
    padding-top: 1.9%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
    width: 100%;
}


input:focus{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
    border-bottom: 1px solid black;
}

input{
    border: none;
    width: 100%;
    padding: 5pt;
    /* margin-bottom: 5pt; */
    font-size: 12.5pt;
    background-color: #F2F0EB;
}

label{
    padding: 5pt;
    /* margin-bottom: 5pt; */
    background-color: #F2F0EB;
    width: auto;
    text-wrap: nowrap;
}

div{
    display: flex;
    align-items: center;
}

.divInpt{
    background-color: #BFBEBA;
    padding: 10pt;
}

h2{
    margin-bottom: 3pt;
}

button[type="submit"]{
    width: 100%;
    padding: 5pt;
    border-radius: 5pt;
    border: none;
    cursor: pointer;
    margin-top: 5pt;
    background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
    font-size: 14pt;
    color: black;
}

.divResumoPersonagem{
    flex-direction: column;
    width: 100%;
    background-color: #BFBEBA;
    height: 55%;
    margin-top: 18pt;
    margin-bottom: 18pt;
    padding: 8pt;
    border-radius: 10pt;
}

.divResumoPersonagem label{
    width: 100%;
    text-align: center;
    text-wrap: nowrap;
}

textarea{
    width: 100%;
    height: max-content;
    font-size: 12.5pt;
    padding: 5pt;
    height: 55%;
    border: none;
    background-color: #F2F0EB;
    border-radius: 0pt 0pt 5pt 5pt;
}

.divResumoPersonagem label{
    background-color: #F2F0EB;
    padding: 5pt;
    border-radius: 5pt 5pt 0pt 0pt;
    text-wrap: nowrap;
}

textarea:focus{
    border: none;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.marginTop15pt{
    margin-top: 15pt;
}

.sectionCapitulos{
    background-color: #BFBEBA;
    margin-top: 1.9%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
    border-radius: 10pt;
}

.boxCapitulos{
    display: flex;
    flex-direction: column;
}

.paragrafoLinksCapitulos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.linkCapitulos{
    width: 90%;
    background-color: #F2F0EB;
    padding: 5pt;
    border-radius: 5pt;
}

/* .linkDeletarCap{
    background-color: #F2F0EB;
    padding: 5pt;
    width: auto;
    background-color: red;
    border-radius: 10pt;
    color: white;
} */

.tituloCapitulos{
    margin-bottom: 12pt;
}

.h2BoxCapitulos{
    padding: 15pt;
    background-color: #F2F0EB;
    border-radius: 10pt;
    transition: 0.5s;
}

.h2BoxCapitulos:hover{
    background-color: green;
}

.spanDeletarHis{
    background-color: red;
    color: white;
    padding: 8pt;
    border-radius: 10pt;
    width: 100%;
    font-size: 12pt;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.divExcluirPersonagem{
    padding: 10%;
    width: 40vw;
    height: auto;
    left: calc(50vw - 20vw);
    top: 5% ;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  #fcfbee;
    color: black;
    position: absolute;
    border-radius: 20pt;
    text-align: center;
}

.botoesDivExcluirPersonagem{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10pt;
}

#btnCancelar{
    padding: 5pt;
    background-color: yellowgreen;
    border-radius: 10pt;
    border: 1px solid yellowgreen;
    cursor: pointer;
    font-size: 12pt;
}

.excluir{
    background-color: red;
    color: white;
    font-size: 12pt;
    padding: 5pt;
    border-radius: 10pt;
}

.ContainerHistoriasPersonagem{
    background-color: #BFBEBA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 10pt;
    border-radius: 10pt;
}

.ContainerHistoriasPersonagem p{
    background-color: #F2F0EB;
    width: 100%;
    padding: 5pt;
}

.spanCap{
    margin-left: 20pt;
}

.spanCap a, .ContainerHistoriasPersonagem p a{
    text-decoration: underline;
}

/* <a href="https://www.flaticon.com/br/icones-gratis/casa" title="casa ícones">Casa ícones criados por Dave Gandy - Flaticon</a> */

/* Nav bar */
header{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
    margin: 0%;
    padding: 10px;
}

.logo-nav{
    width: 75px;
    height: 75px;
    border-radius: 38px;
}

.boxTituloLogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-inicio{
    width: 15%;
    height: 35px;
    background: transparent; 
    border: none; 
    cursor: pointer;
}

.navBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color:black;
    text-decoration: none;
}

/* Medias Query */
@media (max-width : 600px){
    section, input, button{
        font-size: 15pt;
    }

    button[type="submit"]{
        font-size: 16pt;
    }
}
