*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  width: 100%;
  margin: 0;
  font: 1.8vh "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfbee;
  font-family: "Sora", sans-serif;
}

a {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
  margin: 0%;
  padding: 10pt;
  align-items: center;
  border-bottom: 2px solid rebeccapurple;
}

section{
  font-size: 16pt;
  width: 100%;
  min-height: 75vh;
}

.boxsIntro{
  width: auto;
  max-width: 60%;
  text-align: left;
}

.boxsIntro h2{
  margin-bottom: 15pt;
}

.linkLogin{
  padding: 5pt;
  background-color: rgba(93, 89, 89, 0.644);
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  font-size: 15pt;
  height: min-content;
  font-weight: bold;
  color: white
}

.linkLogin:hover{
  background-color: rgb(30, 97, 241);
}

.linkCadastro{
  padding: 10px;
}

.h1-home{
  padding-top: 10px;
  font-size: 20pt;
}

.img-home{
  width: 500px;
  height: 300px;
  border-radius: 7px;
}

.section1{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  align-items: center;
  padding: 5%;
}

.section2{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  align-items: center;
  flex-direction: row-reverse;
  padding: 5%;
  text-align: justify;
}

.containerSection1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;

  gap: 2%;
  padding: 15pt;
  border-radius: 10pt;

  background-color: rgba(245, 245, 245, 0.9);
}

.containerSection2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  text-align: justify;

  gap: 2%;
  padding: 15pt;
  border-radius: 10pt;

  background-color: rgba(245, 245, 245, 0.9);
}

.gifs{
  width: 500px;
  height: auto;
}

.boxsTextos{
  width: auto;
  max-width: 60%;
}

.logo-nav{
  width: 50pt;
  height: auto;
  border-radius: 50%;
}

.navBar{
  min-width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10pt;
}

.boxTituloLogo{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 7.5pt;
  width: 50%;
}

.btn-sobre{
  width: auto;
  height: auto;
  background: transparent; 
  border: none; 
  color: #000; 
  cursor: pointer;
  font-size: 15pt;
  font-weight: bold;
  text-decoration: none;
}

.btn-sobre:hover{
  color: white;
}

.btn-inicio{
  width: 30%;
  min-width: 30%;
  height: auto;
  background: transparent; 
  border: none; 
  color: #000; 
  cursor: pointer;
  font-size: 17.5pt;
  font-weight: bold;
}

.btn-inicio:hover{
  color: white;
}

.footer{
  background-color: #292727da; 
  color: white; 
  text-align: center;
  text-wrap: wrap; 
  padding: 20px; 
  /* position: relative; 
  bottom: 0;  */
  width: 100%; 
}

.btnDropDown{
  display: none;
  padding: 10pt;
}

.hiden{
  opacity: 0;
  transition: opacity 0.9s linear;
}

.hidenOff{
  opacity: 1;
}

@media (max-width: 1333px) {
  .section1, .section2, .containerSection1, .containerSection2{
    padding: 1%;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .boxsIntro, .boxsTextos{
    max-width: 100%;
    padding: 10pt;
    width: 85vw;
    margin-bottom: 20px;
    text-align: center;
  }

  .img-home, .gifs{
    width: 70vw;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .navBar{
    display: none;
    align-items: center;
    justify-content: center;
    margin-top: 10pt;
  }

  /* <a href="https://www.flaticon.com/br/icones-gratis/cardapio" title="cardápio ícones">Cardápio ícones criados por Catalin Fertu - Flaticon</a> */
  .btnDropDown{
    display: block;
  }

  .linkLogin{
    width: 180px;
  }

  .img-home{
    width: 80vw;
    height: auto;
  }
}

@media (max-width : 1000px ) {
  .logo-nav{
    width: 50pt;
  }

  .boxTituloLogo{
    width: auto;
  }

  .h1-home{
    font-size: 18pt;
  }

  .nav, .btn-sobre, .btn-inicio{
    font-size: 18pt;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section{
    min-height: auto;
    margin-bottom: 50pt;
  }
}
