*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  width: 100%;
  margin: 0;
  font: 1.8vh "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fcfbee;
  font-family: "Sora", sans-serif;
}

a {
  color: black;
  width: 100%;
  display: flex;
  justify-content: center;
}

header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  background: linear-gradient(to bottom, #ff9101, #f8eb59c2);
  margin: 0%;
  padding: 12pt;
  align-items: center;
}

section{
  border: 2px solid rebeccapurple;
  font-size: 16pt;
  width: 100%;
  min-height: 100vh;
}

.boxsIntro{
  width: auto;
  max-width: 60%;
  text-align: left;
}

.boxsIntro h2{
  margin-bottom: 15pt;
}

.linkLogin{
  padding: 10px;
  background-color: rgba(93, 89, 89, 0.644);
  border-radius: 5px;
  text-decoration: none;
  width: 15%;
  height: min-content;
  font-weight: bold;
  color: white
}

.linkLogin:hover{
  background-color: rgb(30, 97, 241);
}

.linkCadastro{
  padding: 10px;
}

.h1-home{
  padding-top: 10px;
  font-size: 20pt;
}

.img-home{
  width: 500px;
  height: 300px;
  border-radius: 7px;
}

.section1{
  display: flex;
  justify-content: space-between;
  gap: 2%;
  align-items: center;
  padding: 5%;
}

.logo-nav{
  width: 50pt;
  height: auto;
  border-radius: 50%;
}

.navBar{
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.boxTituloLogo{
  display: flex;
  align-items: center;
  gap: 7.5pt;
  width: 22%;
}

.btn-sobre{
  width: 15%;
  height: auto;
  background: transparent; 
  border: none; 
  color: #000; 
  cursor: pointer;
  font-size: 17.5pt;
  font-weight: bold;
}

.btn-sobre:hover{
  color: white;
}

.btn-inicio{
  width: 15%;
  height: auto;
  background: transparent; 
  border: none; 
  color: #000; 
  cursor: pointer;
  font-size: 17.5pt;
  font-weight: bold;
}

.btn-inicio:hover{
  color: white;
}

.footer{
  background-color: #292727da; 
  color: white; 
  text-align: center;
  text-wrap: wrap; 
  padding: 20px; 
  position: relative; 
  bottom: 0; 
  width: 100%; 
}

.btnDropDown{
  display: none;
  padding: 10pt;
}

@media (max-width: 1333px) {
  .section1{
    padding-top: 20pt;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }

  .boxsIntro{
    max-width: 100%;
    padding: 50pt;

    width: 85vw;
    margin-bottom: 20px;
    text-align: center;
    font-size: 20pt;
  }

  .img-home{
    width: 70vw;
    height: auto;
  }
}

@media (max-width: 1024px) {
  .navBar{
    display: none;
    align-items: center;
    justify-content: center;
  }

  /* <a href="https://www.flaticon.com/br/icones-gratis/cardapio" title="cardápio ícones">Cardápio ícones criados por Catalin Fertu - Flaticon</a> */
  .btnDropDown{
    display: block;
  }

  .linkLogin{
    width: 180px;
  }

  .boxsIntro{
    font-size: 1.9em;
  }

  .img-home{
    width: 80vw;
    height: auto;
  }
}

@media (max-width : 1000px ) {
  .logo-nav{
    width: 80pt;
  }

  .boxTituloLogo{
    width: auto;
  }

  .h1-home{
    font-size: 32pt;
  }

  .nav, .btn-sobre, .btn-inicio{
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
